.carousel__control
{
    position: absolute;
    top: 40%;
    left: 15px;

    width: 40px;
    height: 40px;
    margin-top: -20px;

    cursor: default;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carousel__control_type_right
{
    left: auto;
    right: 15px;
}