.carousel
{
    position: relative;

    margin-bottom: 20px;

    line-height: 1;
}

.carousel__inner
{
    position: relative;

    overflow: hidden;

    width: 100%;
}

.carousel__item
{
    position: relative;

    display: none;
}

.carousel__item_state_active,
.carousel__item_type_next,
.carousel__item_type_prev
{
    display: block;
}

.carousel__item_type_next,
.carousel__item_type_prev
{
    position: absolute;
    top: 0;
    width: 100%;
}
