.carousel__control_theme_default
{
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;

    color: #fff;
    text-align: center;

    background: #222;

    border: 3px solid #fff;
    border-radius: 23px;

    opacity: 0.5;
}

.carousel__control_theme_default:hover
{
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
}
