.carousel__caption
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 15px;

    background: #333333;
    background: rgba(0, 0, 0, 0.75);
}

.carousel__caption h4,
.carousel__caption p
{
    color: #ffffff;
    line-height: 20px;
}

.carousel__caption h4
{
    margin: 0 0 5px;
}

.carousel__caption p
{
    margin-bottom: 0;
}